*{
    margin: 0;
    padding: 0;
}

#para1{
    background: red;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    position: sticky;
    top: 0;
}
#im1{
    position: relative;
}
#im2{
    margin-left: -100px;
    position: absolute;
}
#im3{
    margin-left: 100px;
    position: absolute;
}